.header {
  color: var(--subtext);
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1rem 0 2rem;
}
.friend {
  margin-bottom: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    width: 2.4rem;
    height: 100%;
    padding-left: 1rem;

    svg {
      width: 2.4rem;
      stroke: var(--subtext);
    }
  }
  a:hover, button:hover {
    opacity: .8;
  }
  a, button {
    transition: .2s;
  }
}
.block {
  width: 100%;
  display: flex;
  p:first-child {
    color: var(--foreground);
    font-weight: 700;
    font-size: 1.4rem;
  }
  p:last-child {
    color: var(--subtext);
    font-weight: 600;
    font-size: 1.2rem;
    span {
      font-weight: 700;
      font-size: inherit;
      color: var(--foreground);
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
  p {
    margin: .15rem 0;
    text-align: left;
  }

}