.user {
  display: flex;
  flex-direction: column;
  width: 16.66%;
  align-items: center;
  padding: 2rem 2rem 4rem;
  --avatar-size: 15rem;

  a {
    transition: .3s;
  }

  a:hover {
    opacity: .7;
  }
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
}

.title {
  color: var(--foreground);
  font-weight: 700;
  font-size: 2rem;
  margin: 1.6rem 0;
}

.button {
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  background: var(--main);
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--background-light);
  border-radius: 1.1rem;
  position: relative;
  transition: .3s;
  height: 3.7rem;
  .preloader {
    height: 1.85rem;
    stroke: var(--auth-background);
  }
}

.button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 20%;
  background: linear-gradient(to left,
          transparent 0%,
          var(--background-light) 20%,
          var(--background-light) 80%,
          transparent) 100%;
  opacity: 0;
  transition: .5s;
}

.button:active {
  transform: scale(.95);
}

.button:hover:before {
  opacity: .3;
  width: 100%;
  transform: scaleX(1.5);
}

.button_clicked {
  background: var(--background);
  color: var(--subtext);
}

.button_clicked:before {
  background: linear-gradient(to left,
          transparent 0%,
          var(--auth-background) 20%,
          var(--auth-background) 80%,
          transparent) 100%;
}

.skeleton {
  .title {
    width: 9rem;
    height: 2rem;
    margin-top: 2.1rem;
  }
  .button {
    height: 3.7rem;
  }
}

@media(max-width: 1500px) {
  .user {
    width: 20%;
  }
}
@media(max-width: 1000px) {
  .user {
    width: 25%;
  }
}
@media(max-width: 850px) {
  .user {
    width: 33.33%;
  }
}
@media(max-width: 550px) {
  .user {
    width: 50%;
  }
}
@media(max-width: 380px) {
  .user {
    width: 100%;
  }
  .button {
    width: 20rem;
  }
}

