.container {
  height: 100%;
  width: 100%;
}
.main {
  background: var(--background);
  border-radius: 2rem 2rem 0 0;
  height: 100%;
  padding: 0.2rem;
}
.wrapper {
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
  display: flex;
  height: 100%;
}

@media(max-width: 480px) {
  .main {
    border-radius: 0;
    padding: .2rem 0 0;
  }
  .wrapper {
    border-radius: 0;
  }
}


