*, *:after, *:before {
  font-size: calc(3px + 7 * (100vw / 1920));
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  /* ------ PALETTE ------ */
  --cadet-blue-crayola: #ccd5de;
  --dark: #575757;
  --white: #fbfbfb;
  --asjfda: #5E697D;
  --asdasf: #84909F;
  --blue: #418EEA;
  --light-gray: #EFEFEF;
  --light-telegray: #D0D0D0;
  --light-gray2: #B8B8B8;

  --gray: #CCD5DE;
  /* ------ THEME ------ */
  --auth-background: var(--cadet-blue-crayola);
  --foreground: var(--dark);
  --background-light: var(--white);
  --subtext-dark: var(--asjfda);
  --subtext: var(--asdasf);
  --main: var(--blue);
  --background: var(--light-gray);
  --separator-common: var(--gray);
  --scrollbar: var(--light-telegray);
  --scrollbar-active: var(--light-gray2);


  --indent: 2.5rem;
}

::-webkit-scrollbar {
  width: 1.2rem;
  background: var(--background);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 0.3rem solid var(--background);
  border-radius: 1rem;
  background: var(--scrollbar);
}
::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-active);
}

body {
  width: 100%;
  line-height: 1.25;
  background: var(--background-light);
  overflow: hidden;
}

main {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 8rem);
}

.sidebar {
  width: 28rem;
  min-width: 28rem;
  background: var(--background-light);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 var(--indent);

  .wrapper {
    height: 100%;
    width: 100%;
  }
}

.container {
  width: 100%;
  overflow-y: auto;
}

.main {
  background: var(--background);
  border-radius: 2rem 2rem 0 0;
  height: 100%;
  padding: var(--indent);
}

.block {
  background: var(--background-light);
  border-radius: 1.8rem;
  width: 100%;
  margin-bottom: var(--indent);
}

.more {
  padding: 1rem 3rem;

  div {
    width: .5rem;
    height: .5rem;
    background: var(--subtext);
    border-radius: 50%;
    position: relative;
  }

  div:before, div:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
  }
}

.user {
  display: flex;
  border-radius: 1.2rem;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.2rem;

    .title {
      color: var(--foreground);
      font-size: 1.4rem;
      margin-bottom: .6rem;
      font-weight: 700;
    }

    .subtext {
      color: var(--subtext);
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}


@media(min-width: 1920px) {
  *, *:after, *:before {
    font-size: calc(2px + 8 * (100vw / 1920));
  }
}

@media(max-width: 1280px) {
  main {
    .sidebar:last-child {
      padding: 0;
      width: 3rem;
      min-width: 3rem;

      .wrapper {
        display: none;
      }
    }
  }
}

@media(max-width: 480px) {
  *, *:after, *:before {
    font-size: calc(7px + 3 * (100vw / 1920));
  }
  :root {
    --indent: 1rem;
  }
  .container {
    border-radius: 0;
  }
  header {
    .sidebar:first-child {
      display: none;
    }
  }
  main {
    .sidebar {
      display: none;
    }
  }
}

@media(max-width: 440px) {
  *, *:after, *:before {
    font-size: calc(5px + 5 * (100vw / 1920));
  }
}
