.alert {
  display: flex;
  width: 30rem;
  padding: 1rem;
  margin: 0 2rem 2rem;
  align-items: center;
  border-radius: .7rem;
  box-shadow: 0 0 5px 1px var(--subtext);
  pointer-events: auto;
  svg {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    fill: var(--background-light);
  }
  p {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--background-light);
    margin-left: 1rem;
  }
}

.alert_error {
  background: var(--common-error);
  svg {
    transform: rotate(180deg);
  }
}
.alert_warning {
  background: #ec9f40;
  svg {
    transform: rotate(180deg);
  }
}
.alert_info {
  background: var(--main);
}
.alert_success {
  background: #4ed24e;
}