.checkbox {
  margin: .5rem;
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
  svg {
    fill: var(--foreground);
  }
}

.checkbox:before, .checkbox:after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 3rem;
  opacity: 0;
  left: -1rem;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  margin: auto;
  border-radius: 50%;
  transform: scale(.1);
  transition: .2s;
}

.checkbox:before {
  background: var(--main);
}
.checkbox:after {
  background: var(--background);
  transition: .2s ease-in;
  z-index: -1;
}

.checkbox:active:before {
  transform: scale(1);
  opacity: .1;
}
.checkbox:hover:after, .checkbox:focus:after {
  transform: scale(1);
  opacity: .7;
}