.profile {
  background: var(--background);
  padding: 1.4rem 1.6rem 1.6rem;
  border-radius: 1.5rem;
  width: 100%;

  a {
    transition: .3s;
  }

  a:hover {
    opacity: .85;
    transform: translate(0, 0.1rem);
  }

  margin-bottom: 3rem;
}

.block {
  display: flex;

  p:first-child {
    color: var(--foreground);
    font-weight: 700;
    font-size: 1.4rem;
  }

  p:last-child {
    color: var(--subtext);
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 1.2rem;

  p {
    margin: .15rem 0;
    text-align: left;
  }
}

.counters {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}

nav {
  a {
    transition: .3s;
    position: relative;
    display: flex;
    height: 6rem;
    align-items: center;
    margin: .15rem 0;
  }

  svg, p {
    z-index: 1;
  }

  svg {
    width: 2.5rem;
    stroke: var(--subtext);
    fill: var(--subtext);
  }

  p {
    margin-left: 1.3rem;
    color: var(--subtext);
    font-weight: 600;
    font-size: 1.5rem;
  }

  a:before, a:after {
    content: '';
    position: absolute;
    opacity: 0;
    left: -1.5rem;
  }

  a:after {
    height: 0;
    width: calc(100% + 3rem);
    transition: .2s;
    border-left: 3px solid var(--main);
  }

  a:before {
    transition: inherit;
    border-radius: 1.5rem;
    width: 0;
    height: 100%;
  }

  a:hover:after {
    right: -1.5rem;
    margin: 0 auto;
    height: 60%;
    border-radius: 0;
    opacity: 1;
  }

  a:hover {
    opacity: 0.85;
  }

  .active:before {
    width: calc(100% + 3rem);
    background: var(--main);
    opacity: 1;
  }

  .active:hover:after {
    opacity: 0;
    height: 0;
  }

  .active:hover {
    opacity: 1;
  }

  .active {
    p {
      color: var(--background-light);
    }

    svg {
      fill: var(--background-light);
      stroke: var(--background-light);
    }
  }
}

.skeleton {
  height: 12.15rem;
}

.navigation-mobile {
  position: fixed;
  height: var(--nav-height);
  min-width: 100vw;
  left: 0;
  bottom: 0;
  background: var(--background-light);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0 4rem;
  align-items: center;
  z-index: 999;
  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  svg {
    height: 2.5rem;
    width: auto;
  }
  a {
    height: 4.6rem;
  }
  a:before {
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
  }
  .active:before {
    width: 4.6rem;
    height: 4.6rem;
  }
  a:after {
    all: unset;
  }
}

@media(max-width: 480px) {
  .block {
    padding: 1rem 2rem;
    div {
      width: 7rem;
      height: 7rem;
    }
    p:first-child {
      font-size: 2rem;
      margin-bottom: .5rem;
    }

    p:last-child {
      font-size: 1.8rem;
    }
  }
  nav {
    a {
      height: 7rem;
    }

    svg {
      width: 3rem;
    }

    p {
      margin-left: 1.8rem;
      font-size: 2rem;
    }
  }
}
