.user {
  padding: .8rem;
}

.user:hover {
  background: rgba(100,100,100,.04);
}
.user-active:hover {
  background: var(--main);
}
.user-active {
  background: var(--main);
  .text {
    .title {
      color: var(--background-light);
    }
    .subtext {
      color: var(--auth-background);
    }
  }
}

@media(max-width: 480px) {
  .avatar {
    width: 5rem;
    height: 5rem;
  }
}
