.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0.2rem;
}
.button {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  justify-content: center;
  margin-right: 1rem;
  color: var(--subtext);
}
.more {
  margin: -1rem 0;
  padding: 1rem 1.2rem;
}
.more, .button {
  position: relative;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  div:before, div:after {
    left: 0;
    right: 0;
    margin: auto;
  }
  div:before {
    top: -.85rem;
  }
  div:after {
    top: .85rem;
  }
}

.more:after, .button:after {
  content: '';
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background: var(--subtext);
  opacity: 0;
  transform: scale(.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  transition: .3s;
}

.more:hover:after, .button:hover:after {
  opacity: 0.15;
  transform: scale(1);
}

.header, .footer {
  background: var(--background-light);
  display: flex;
  min-height: 6rem;
  align-items: center;
}

.header {
  margin-bottom: .5rem;
  justify-content: space-between;
  padding: 0 1.5rem;
  .user {
    display: flex;
  }
  .text {
    display: flex;
    flex-direction: column;
  }
}
.smooth-scroll {
  scroll-behavior: smooth;
}
.messages {
  height: 100%;
  padding: 6rem 2.5rem 2.5rem;
  overflow-y: scroll;
}

.footer {
  margin-top: .5rem;
  button {
    svg {
      height: 2.5rem;
      stroke: var(--subtext);
      fill: var(--subtext);
      margin: 0 1.4rem;
      transition: .4s;
    }
  }
  button:hover {
    svg {
      stroke: var(--main);
      fill: var(--main);
    }
  }
  form {
    width: 100%;
    input {
      width: 100%;
      padding: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--foreground);
    }
  }
  input::placeholder {
    font-weight: 500;
    color: var(--subtext);
  }
  .buttons {
    display: flex;
  }
}

@media(max-width: 480px) {
  .chat {
    margin-left: 0;
  }
}
